[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/deeedob/nvim
[submodule ".config/ranger/plugins/zoxide"]
	path = .config/ranger/plugins/zoxide
	url = https://github.com/jchook/ranger-zoxide
