[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/deeedob/nvim
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
